<h2>History</h2>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Transaction</th>
          <th>Cost</th>
          <th><center> </center></th>
          <th class="text-right"> </th>
        </tr>
      </thead>

      <tbody>
        <% @envelope.transactions.order(:created_at).reverse.each do |transaction|%>
          <tr>
            <%= form_for [@envelope, @envelope.transactions.build] do |f| %>
              <% if !transaction.name.blank? %>
                <td><%= f.text_field :name, "value" => transaction.name,"placeholder" => "expense name", "style"=>"width:95px"  %></td>
                <td><%= f.text_field :cash, "value"=> number_with_delimiter(transaction.cash, :delimiter => ','), "placeholder" => "cost", "style"=>"width:40px"  %></td>
                <td><center><%= link_to(image_tag("trash.png", size: "18x20", alt: "Remove", "style"=>"padding:2px"), envelope_transaction_path(@envelope, transaction), method: :delete, :class => "btn btn-default btn-xs") %></td>
                <td class="text-right"><%= f.submit "Submit", :class=> "btn btn-info btn-xs", :onclick=> "value=#{transaction.id}"%></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>