<h1>Envelope</h1>

<%= render 'form' %>
<p>
<%= link_to 'Delete', @envelope, method: :delete, class: 'btn btn-lg btn-default', data: { confirm: 'Are you sure?' } %>
<!--<%= link_to 'Show', @envelope, class: 'btn btn-lg btn-info' %>-->
<p />
<hr />

<!--<%= render 'newtrans' %>-->
<h2>Create Transaction</h2>

<%= form_for [@envelope, @envelope.transactions.build] do |f| %>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">N </div>
    <%= f.text_field :name, :class => "input-lg form-control", "placeholder" => "expense name"  %>
    </div>
    </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$ </div>
    <%= f.text_field :cash, :class => "input-lg form-control", "placeholder" => "cost"  %>
</div>
</div>
  <p>
    <%= f.submit "Record Expense", :class=> "btn btn-info btn-lg pull-right"%>
  </p>
<% end %>


<br />
<br />
<hr />
<%= render 'trans' %>
