
<center>
  <h1 style="text-align:left;">$<%= number_with_delimiter(@total_cash, :delimiter => ',') %></h1>
</center>

<%= form_tag url_for(:controller => 'envelopes', :action => 'modcash'), :method => 'post' do %>

  <%= text_field_tag "cash", params[:cash], :autofocus=> "true", :class => "input-lg","placeholder" => "$","style"=>"width:180px", "type"=>"number" %>
  <%= submit_tag(value = "Income", {class: 'btn btn-warning btn-lg pull-right'})%>


<br />

  <div class="media">
    <div class="media-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Envelope</th>
            <th><center>$</center></th>
            <th class="text-right"></th>
          </tr>
        </thead>

        <tbody>
          <% current_user.envelopes.find(:all, :order=>"created_at DESC", :limit=>20).reverse.each do |envelope| %>
            <tr class=<%=envelope.color%>>

              <td><%= link_to envelope.name, edit_envelope_path(envelope), class: 'btn btn-default btn-lg', "data-no-turbolink"=>"true" %></td>
              <!--<td><%= envelope.color %></td>
              <td><%= envelope.icon %></td>
              <td><%= envelope.precent %></td>-->
              <td><H4><center><%= number_with_delimiter(envelope.cash, :delimiter => ',') %></center></H4></td>
              <!--<td><%= envelope.user_id %></td>-->
              <td class="text-right"><%= submit_tag(value = "Expense", {class: 'btn btn-info btn-lg', :onclick=> "value=#{envelope.id}"})%></td>
              <!--<td><%= link_to 'Edit', edit_envelope_path(envelope), class: 'btn btn-default btn-success' %></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>

<br />
<hr />

<p>
  <%= link_to "Clear Cash", {:controller => "envelopes", :action => "clear"}, class: 'btn btn-default' %>
  <%= link_to 'New Envelope', new_envelope_path, class: 'btn btn-default pull-right' %>
</p>